/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
   header {
           padding-bottom: 0;
           justify-content: center;
           position: relative;
       }
       header h1 {
           width: 100%;
           text-align: center;
       }
       header nav ul {
           margin-top: 20px;
           width: 100%;
           justify-content: center;
       }
       header nav ul li a {
           font-size: 20px;
       }
}



/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    section {
        padding: 30px 15px;
    }

    .portion-content-work {
        background-size: contain;
        display: flex;
        text-align: center;
        width: 100%;
        flex: 0 100%;   
    }

    #run-buddy img {
        display: flex;
        flex-direction: column;
        order: 1;
    }

    #horiseon img {
        display: flex;
        flex-direction: column;
        order: 2;
    }

    #comics-and-cocktails img {
        display: flex;
        flex-direction: column;
        order: 3;
    }

    .portion-content address {
        background-size: contain;
        display: flex;
        text-align: center;
        width: 100%;
        flex: 0 100%;
    }

    .telephone {
        order: 1;
    }

    .email {
        order: 2;
    }

    .linkedIn {
        order: 3;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .portion-content address {
        background-size: contain;
        display: flex;
        text-align: center;
        width: 100%;
        flex: 0 100%;
    }

    .telephone {
        order: 1;
    }

    .email {
        order: 2;
    }

    .linkedIn {
        order: 3;
    }
}