/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1350px) {
   header {
           padding-bottom: 0;
           justify-content: center;
           position: relative;
       }
       header h1 {
           /*background: black;*/
           width: 100%;
           text-align: center;
       }
       header nav ul {
           margin-top: 20px;
           width: 100%;
           justify-content: center;
       }
       header nav ul li a {
           font-size: 20px;
       }

    .portion-label {      
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        flex: 0 100%;
        min-height: 0;
        height: 100%;
    }

       .portion-content-work {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-size: contain;
        position: relative;
        text-align: center;
        width: 100%;
        flex: 0 2 100%;   
    }

    #comics-and-cocktails img {
        width: 274px;
        display: flex;
        order: 1;
    }

    #fetching img {
        width: 274px;
        display: flex;
        order: 2;
    }

        /* address portion */
       .portion-content ul li a {
        flex-direction: column;
        display: flex;
        text-align: center;
        width: 100%;
        flex: 0 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        /* background: red;*/
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    section {
        padding: 30px 15px;
    }

    .portion-label {      
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        flex: 0 100%;
        min-height: 0;
        height: 100%;
    }
        img {
            display: none;
        }

        .about-me, .work, .resume, .contact {
            display: flex;
            flex-wrap: wrap;
           }
   

    .portion-content-work {
        flex-direction: column;
        background-size: contain;
        position: relative;
        display: flex;
        text-align: center;
        width: 100%;
        flex: 0 100%;   
    }

    #comics-and-cocktails img {
        width: 274px;
        display: flex;
        flex-direction: column;
        order: 1;
    }

    #fetching img {
        width: 274px;
        display: flex;
        flex-direction: column;
        order: 2;
    }

    /* address portion */
    .portion-content ul li a {
        flex-direction: column;
        display: flex;
        text-align: center;
        width: 100%;
        flex: 0 100%;
    }

    .telephone {
        order: 1;
    }

    .email {
        order: 2;
    }

    .linkedIn {
        order: 3;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        /* background: green;*/
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }


    .portion-label {      
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        flex: 0 100%;
        min-height: 0;
        height: 100%;
    }

        img {
            display: none;
        }
    
        .about-me, .work, .resume, .contact {
         display: flex;
         flex-wrap: wrap;
        }

    .portion-content-work {
        flex-direction: column;
        background-size: contain;
        position: relative;
        display: flex;
        text-align: center;
        width: 100%;
        flex: 0 100%;   
    }
 
    /* address portion */
    .portion-content ul li a {
        flex-direction: column;
        display: flex;
        text-align: center;
        width: 100%;
        flex: 0 100%;
    }

    .telephone {
        order: 1;
    }

    .email {
        order: 2;
    }

    .linkedIn {
        order: 3;
    }
}