* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #928d8d;
    --secondary-color: #0a3247;
    --tertiary-color: #2f2d8f;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
 }

/* START header styling */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    font-style:italic;
    font-weight: 100;
    background: linear-gradient(to right, rgb(69, 80, 126), rgb(29, 20, 50));
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color: var(--primary-color);
    text-shadow: 5 5 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* END header styling */

/* START Span Banner added for flair */
.banner-border {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    background: linear-gradient(to right, rgb(111, 134, 227), rgb(29, 20, 50));
    width: 100%;
    padding: 25px 35px;
}
/* END Span Banner added for flair */

/* START stationary images, photo of self, resume placeholder image */
img {
    height: 190px;
    padding: 10px;
    border: 1px solid;
    border-color: var(--secondary-color);
    border-radius: 15px;  
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}


/* END stationary images, photo of self, resume placeholder image */

/* START left-sided section titles */
.portion-label {
    width: 100%;
    border: 0 solid rgb(64, 85, 141);
    border-right-width: thick;
    text-align: right;
    padding-right: 20px;
    font-size: 30px;
    font-style:italic;
    min-height: 350px;
}

.portion-label h2, h4 {
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
/* END left-sided section titles */

/* START right-sided section content */
.about-me, .work, .resume, .contact {
    width:100%;
    margin: 5px;
    padding: 5px;
    height: auto;
    background-color: rgb(187, 185, 197);
    text-align: justify;
}

    .portion-content p {
        padding-right: 20px;
        font-size: 20px;
    }
    /* static image in About Me */
    .float-right {
        float: right;
        margin-left: 25px;
    }

    /* START Work Section */
    .portion-content-work {
        display: flex;     
    }

    .portion-content-work img {
        border: 1px solid;
        border-color: var(--secondary-color);
        border-radius: 15px;  
    }

    /*container holding link to work done w/ image and text */
    .container {
        position:relative;
        width:auto;
        flex: 100%;
    }

        /* START Label for projects included in work section */
        .text-block {
            position:absolute;
            bottom: 20px;
            right: 20px;
            background-color: rgb(99, 98, 106);
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            font-style: italic;
            border-radius: 10px;
        }

        .text-block h3 {
            font-size: large;
        }

        .text-block p {
            font-size: smaller;
        }
        /* END Label for projects included in work section */
    /* END Work Section */


    /* START Contact Me Address Section */
    ul#horizontal-list {
        min-width: 60px;
        list-style: none;
        align-items: top;
    }

    ul#horizontal-list li {
        display: inline;
        padding: 12px;
    }

    .portion-content address{
        display:flex;
        align-items: center;
        flex-direction: column;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 25px;
    }
    
    p {
        font-size: 16px;
    }  
    /* END Contact Me Address Section */
/* END right-sided section content */